//Font: Tahoma / Helvetica /button 10px;

.wrapper {
    // background: red;
    font-size: 11px;
    font-family: Tahoma, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;

    article {
        width: 145px;
        box-sizing: border-box;
        margin: 0 10px;

        .image {
            border: 1px solid #DADEE4;
            cursor: pointer;
        }

        h1 {
            font-weight: normal;
            font-size: 11px;
            text-transform: uppercase;

            a {
                text-decoration: none;
                color: #000;

                &:visited {
                    text-decoration: none;
                    color: #000;
                }
            }
        }

        .author {
            margin: 5px 0;
        }

        .price {
            color: #8F0509;
            margin-bottom: 10px;
            font-weight: 700;
        }

        .align-middle {
            margin-bottom: 24.5px;
        }

        .align-last {
            margin-bottom: 12px;
        }


        input[type=button] {
            font-size: 10px;
            padding: 3px 15px 3px 25px;
            text-transform: uppercase;
            border: none;
            border-radius: 2px;
            background: url("shopping-cart-inactive.png") no-repeat;
            cursor: pointer;

            &:hover {
                background: url("shopping-cart-active.png") no-repeat;
            }
        }
    }
}
