body {

    background: url("blurred-green-background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    //background: red;
    font-family: Arial, Helvetica, sans-serif;
    form {
        margin: 0 auto;
        width: 350px;
        height: 265px;

        fieldset {
            border-radius: 7px 7px 0 0 ;
            background: #EEF6E3;
            margin: 30px 0;
            h1 {
                background: #93D55C;
                border-radius: 7px 7px 0 0 ;
                margin: 0;
                font-size: 2rem;
                padding: 10px 0;
                text-align: center;
                margin-bottom: 30px;
                font-weight: 700;
                color: #fff;
            }

            .input-group {
                margin: 15px 10px;
            }

            input[type=submit] {
                margin: 23px 10px 37px 10px;
                padding: 7px 0;
                border: none;
                border-bottom: 1px solid #398439;
                box-shadow: 0 4px 0 #229E22;
                width: 94%;
                border-radius: 4px;
                background: #5CB85C;
                color: #fff;

                &:hover {
                    background: #449D44;
                }
            }
        }
    }

    .btn-default {
        background: #5CB85C;
        color: #fff;
        border: 1px solid #4CAE4C;

        &:hover {
            background: #449D44;
            border-color: #398439;
        }
    }
}