body {
    margin: 0;
}

.outerDiv {
    margin: 20px;
    width: 650px;
}

.innerDiv {
    width: 90%;
    border-left: 5px dashed red;
    border-top: 5px dotted yellow;
    border-right: 10px solid green;
    border-bottom: 10px double blue;
    box-shadow: 20px 20px 10px #000;
}

.shadow {
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 12px 7px 5px #CECECE;
    text-align: center;
    padding-top: 5px;
}


.cool {
    position: relative;
    top: 5px;
    left: 6px;
    border: 3px dashed #fff;
    border-radius: 30px;
    width: 85px;
    height: 45px;
    line-height: 90%;
    padding-top: 4px;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
}

.coolBack {
    position: relative;
    bottom: 30px;
    left: 93%;
    background: grey;
    border-radius: 30px;
    width: 102px;
    height: 64px;
    opacity: 0.7;
}

.mainContent {
    width: 80%;
    box-shadow: 0 0 0 2px red,0 0 0 4px yellow, 0 0 0 6px green, 0 0 0 8px blue;
    position: relative;
    left: 5%;
    bottom: 40px;
    border-radius: 50px;
    padding: 2% 5% 2% 5%;
    text-align: center;
}

    .mainContent div:nth-of-type(1) {
        margin-bottom: 15px;
        text-shadow: 12px 7px 5px #CECECE;
        font-size: 1.2rem;
    }

.buttons {
    background: #DE961A;
    border: outset #DE961A;
    font-size: 0.9rem;
    text-align: center;
}

.firstCircleBack {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: grey;
    position: relative;
    bottom: 144px;
    left: 78%;
    opacity: 0.7;
}

.firstCircle {
    border: 3px dashed #FFF;
    width: 26px;
    height: 26px;
    color: #00F;
    border-radius: 50%;
    position: relative;
    left: 6%;
    top: 2px;
}

.secondCircleBack {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    position: relative;
    bottom: 142px;
    left: 67%;
    opacity: 0.7;
}

.secondCircle {
    border: 2px dashed #FFF;
    width: 17px;
    height: 17px;
    color: #00F;
    border-radius: 50%;
    position: relative;
    left: 9%;
    top: 2px;
}
}
