@import "reset.css";

body {
    width: auto;
    background: #234667;
}

a {
    text-decoration: none;
    color: #fff;
}

    a:visited {
        color: #fff;
    }

header:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.Logo {
    position: relative;
    float: left;
    width: 25%;
    padding-top: 1%;
    text-align: center;
}

.Content {
    position: relative;
    float: right;
    width: 70%;
    text-align: right;
    padding: 1% 2% 1% 1%;
    font-size: 1rem;
}

    .Bell, .User, .Content div:nth-of-type(3) {
        display: inline-block;
        color: #fff;
    }

input[type="submit"], input[type="text"] {
    background: #fff;
    border: none;
    height: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
 }

input[type="text"] {
    border-left: 1px solid grey;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.Bell {
    padding-right: 2%;
}

    .Bell:after {
        content: ' ' url("bell.png");
    }

.Br {
    width: 100%;
    height: 0;
}


.Menu {
    float: right;
}

    .Menu li {
        padding: 5px;
        float: left;
    }



    .Menu ul li ul, .User ul li ul {
        display: none;
    }

        /*Inner menu*/
        .Menu ul li ul li, .User ul li ul li {
            width: 100%;
            text-align: left;
        }

    .Menu ul li:hover ul, .User ul li:hover ul {
        display: block;
        position: fixed;
    }

.User ul li ul li {
    padding: 2%;
}
