/*Fonts:
Site content: Calibri, Arial, sans-serif; 12px.
Header title (68px), Main article title (48px) and quote: http://fonts.googleapis.com/css?family=Oleo+Script 
Navigation font size: 18px;
Subtitles font size: 26px;
Site content: fixed width 1000px.*/
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjobN6UDyHWBl620a-IRfuBk.woff) format('woff'); }

body {
  margin: 0 auto;
  background: #50247d; }

.wrapper {
  width: 1000px;
  box-sizing: border-box;
  font-family: Caliri, Arial, sans-serif;
  font-size: 12px;
  margin: 0 auto; }
  .wrapper a {
    text-decoration: none; }
    .wrapper a:visited {
      text-decoration: none; }
  .wrapper .oleo-font {
    font-family: 'Oleo Script', sans-serif; }
  .wrapper .subtitle {
    font-size: 26px; }
  .wrapper .read-more {
    display: flex;
    flex-flow: column wrap; }
    .wrapper .read-more a {
      align-self: flex-end;
      background: #36a4d5;
      display: block;
      color: #fff;
      text-transform: uppercase;
      padding: 10px 17px; }
      .wrapper .read-more a:visited {
        color: #fff; }
  .wrapper header {
    border-bottom: 10px solid #38a3d9;
    text-align: center;
    margin-bottom: 30px;
    background: url("resources/orion-gas-and-star-bgr.jpg") no-repeat;
    color: #fffeff; }
    .wrapper header h1 {
      font-size: 68px;
      margin: 0;
      padding: 30px 0 0 0;
      line-height: 80%; }
    .wrapper header h3 {
      margin: 0;
      padding: 0;
      font-weight: normal; }
    .wrapper header nav {
      font-size: 18px;
      display: flex;
      flex-flow: column wrap;
      text-transform: uppercase; }
      .wrapper header nav ul {
        align-self: center;
        margin: 0;
        padding: 0;
        list-style: none;
        margin: 30px 0; }
        .wrapper header nav ul li {
          float: left;
          margin: 10px; }
          .wrapper header nav ul li a {
            display: block;
            background: #ffffff;
            padding: 15px 20px;
            color: #492184; }
            .wrapper header nav ul li a:hover, .wrapper header nav ul li a:visited:hover {
              background: #36a4d5;
              color: #fff; }
        .wrapper header nav ul:after {
          content: "";
          height: 0;
          display: block;
          clear: both; }
  .wrapper main {
    border-bottom: 10px solid #38a3d9;
    border-top: 10px solid #865ab3;
    display: flex;
    flex-flow: row wrap;
    background: #e8e8e8; }
    .wrapper main section {
      margin: 40px; }
    .wrapper main .left-section {
      width: 40%;
      order: 1;
      flex-grow: 1;
      margin-right: 0;
      padding-left: 30px;
      background: #fff; }
      .wrapper main .left-section article h2 {
        font-size: 48px;
        margin: 0;
        line-height: 80%; }
      .wrapper main .left-section article h3 {
        margin: 0;
        padding-bottom: 18px; }
      .wrapper main .left-section article div {
        font-size: 12px;
        padding-right: 30px;
        font-size: 14px;
        line-height: 140%; }
      .wrapper main .left-section article .second-div-content {
        margin-top: 20px; }
        .wrapper main .left-section article .second-div-content span {
          padding-left: 10px; }
      .wrapper main .left-section .origin {
        margin-top: 15px; }
        .wrapper main .left-section .origin a {
          background: #835ab6; }
          .wrapper main .left-section .origin a:hover, .wrapper main .left-section .origin a:visited:hover {
            background: #4e237c; }
    .wrapper main .right-section {
      width: 40%;
      order: 2;
      flex-grow: 1;
      margin-left: 30px;
      display: flex;
      flex-flow: row wrap; }
      .wrapper main .right-section article {
        width: 45%;
        flex-grow: 1;
        background: #fff; }
        .wrapper main .right-section article:nth-of-type(odd) {
          margin-right: 35px; }
        .wrapper main .right-section article:nth-of-type(1), .wrapper main .right-section article:nth-of-type(2) {
          margin-bottom: 20px; }
        .wrapper main .right-section article .read-more-img {
          height: 150px; }
        .wrapper main .right-section article .img1 {
          background: url("resources/02-pic1.jpg") no-repeat; }
        .wrapper main .right-section article .img2 {
          background: url("resources/02-pic2.jpg") no-repeat; }
        .wrapper main .right-section article .img3 {
          background: url("resources/02-pic3.jpg") no-repeat; }
        .wrapper main .right-section article .img4 {
          background: url("resources/02-pic4.jpg") no-repeat; }
        .wrapper main .right-section article h2, .wrapper main .right-section article div:last-of-type {
          margin: 0;
          padding: 7px 22px 7px 15px; }
        .wrapper main .right-section article h2 {
          color: #1685c6;
          font-weight: 700; }
  .wrapper footer {
    padding: 30px 0 30px 20px;
    color: #fff; }

/*# sourceMappingURL=P2.css.map */