@font-face {
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    src: local('Patua One'), local('PatuaOne-Regular'), url(http://fonts.gstatic.com/s/patuaone/v6/yAXhog6uK3bd3OwBILv_SFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/patuaone/v6/yAXhog6uK3bd3OwBILv_SD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@mixin title() {
    font-family: 'Patua One';
    font-size: 45px;
}

@mixin subTitle() {
    //subtitle: Georgia, italic, 12px.
    font-family: Georgia;
    font-size: 12px;
    font-style: italic;
}

@mixin searchButton() {
    font-family: Arial;
}

$siteWidth: 940px;
$headerWidth: 564px;

body {
    font-family: Georgia;

    #wrapper {
        width: $siteWidth;
        margin: 0 auto;

        header {
            width: $headerWidth;
            margin: 0 auto;
            //border: 1px solid red;
            text-align: center;
            margin-bottom: 40px;

            div {
                h1 {
                    @include title();
                    margin: 10px 0 5px 0;
                    cursor: pointer;
                    background: url("site-logo.png") no-repeat;
                    background-position: 137px 6px;
                    background-size: 8%;
                    padding: 0 0 0 68px;

                    &:hover {
                        color: #777777;
                    }
                }

                div {
                    @include subTitle();
                    color: #777777;
                }
            }

            nav {
                ul {
                    border-top: 1px dashed #777;
                    border-bottom: 2px dotted #DDD;
                    list-style: none;

                    li {
                        display: inline-block;

                        &:first-of-type a {
                            background: #EEE;
                        }

                        a {
                            display: block;
                            padding: 4px 10px;
                            //border: 1px solid red;
                            margin: 10px 5px;
                            text-decoration: none;
                            color: #999;
                            font-weight: 700;

                            &:visited {
                                text-decoration: none;
                                color: #999;
                            }

                            &:hover {
                                color: #666;
                            }
                        }
                    }
                }
            }
        }

        main {
            //border: 1px solid red;
            #image {
                height: 350px;
                background: url("cover-mountains.jpg") no-repeat;
                background-size: 100%;
            }

            #flex-wrapper {
                display: flex;
                flex-flow: row wrap;
            }

            section {
                width: 76%;
                order: 1;
                flex-grow: 1;
                margin-right: 2%;
                //border: 1px solid green;
                #important-title {
                    border-bottom: 1px dashed #777;
                    border-top: 2px dotted #DDD;
                    margin: 30px 70px;
                    text-align: center;
                    color: #666;

                    h2 {
                        font-weight: normal;
                    }

                    div {
                        font-size: 0.8rem;
                        padding-bottom: 30px;
                        line-height: 150%;
                    }
                }

                #some-title {
                    h2 {
                        font-weight: normal;
                        font-size: 2rem;
                        margin-top: 60px;
                    }

                    div {
                        padding-bottom: 30px;
                        line-height: 150%;
                    }
                }
            }

            aside {
                width: 18%;
                order: 2;
                flex-grow: 1;
                //border: 1px solid green;
                .aside-wrapper {
                    padding: 15px;
                    border: 1px dashed #777;
                    margin-top: 15px;
                    background: #F9F9F9;

                    #search {
                        input {
                            display: inline-block;
                        }

                        input[type="text"] {
                            width: 50%;
                            padding: 2px;
                        }
                    }


                    h3 {
                        color: #666;
                        margin: 10px 0 5px 0;
                    }

                    a {
                        display: block;
                        padding: 2px 0;
                        color: #007CD8;
                        text-decoration: none;

                        &:hover {
                            color: #FF4B33;
                            text-decoration: underline;
                        }

                        &:last-of-type {
                            padding-bottom: 10px;
                        }

                        &:visited {
                            color: #743399;
                        }

                        &:visited:hover {
                            color: #FF4B33;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    footer {
        text-align: center;
        border-top: 1px solid #CCC;
        padding: 15px;
        background: #EEE;
        color: #666;
        font-size: 0.9rem;
    }
}
