@import url(reset.css);
body {
  background: linear-gradient(#808080, #fff); }
  body #wrapper {
    width: 900px;
    margin: 0 auto;
    background: #fff; }
    body #wrapper header {
      border: 3px double #808080;
      margin: 10px; }
      body #wrapper header h1 {
        font-size: 2rem;
        font-weight: 700;
        color: #808080;
        text-align: center;
        margin: 15px 0; }
      body #wrapper header nav ul {
        width: 66.66667%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 15px; }
        body #wrapper header nav ul li {
          display: inline-block;
          flex-grow: 1;
          text-align: center; }
          body #wrapper header nav ul li a {
            border: 3px double #808080;
            margin: 10px;
            display: block;
            width: 50%;
            margin: 0 25%;
            padding: 10px 5px;
            color: #808080;
            text-decoration: none; }
            body #wrapper header nav ul li a:visited {
              color: #808080;
              text-decoration: none; }
            body #wrapper header nav ul li a:hover {
              color: #fff;
              background: linear-gradient(#808080, #fff); }
    body #wrapper article {
      border: 1px solid #808080;
      padding-top: 10px;
      margin: 10px; }
      body #wrapper article .innerContainer {
        width: auto;
        height: 140px;
        margin: 0 10px; }
        body #wrapper article .innerContainer div {
          background: red;
          display: inline-block;
          margin: 0 auto 5% auto;
          width: 16.2%;
          height: 95%; }
    body #wrapper .linear {
      border: 3px double #808080;
      margin: 10px; }
      body #wrapper .linear #linear {
        border: none; }
        body #wrapper .linear #linear h1 {
          font-size: 1.2rem;
          text-decoration: underline;
          font-weight: normal; }
    body #wrapper header {
      border: none;
      text-align: center; }
    body #wrapper article:first-of-type .purple {
      background: linear-gradient(#310231, #fff);
      border-radius: 10px; }
    body #wrapper article:first-of-type .blue {
      background: linear-gradient(#0202B0, #fff);
      border-radius: 10px; }
    body #wrapper article:first-of-type .green {
      background: linear-gradient(#023202, #fff);
      border-radius: 10px; }
    body #wrapper article:first-of-type .yellow {
      background: linear-gradient(#F5F502, #fff);
      border-radius: 10px; }
    body #wrapper article:first-of-type .orange {
      background: linear-gradient(#EC9202, #fff);
      border-radius: 10px; }
    body #wrapper article:first-of-type .red {
      background: linear-gradient(#CD0202, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(2) .purple {
      background: linear-gradient(to right, #310231, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(2) .blue {
      background: linear-gradient(to right, #0202B0, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(2) .green {
      background: linear-gradient(to right, #023202, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(2) .yellow {
      background: linear-gradient(to right, #F5F502, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(2) .orange {
      background: linear-gradient(to right, #EC9202, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(2) .red {
      background: linear-gradient(to right, #CD0202, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(3) .purple {
      background: linear-gradient(to bottom right, #310231, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(3) .blue {
      background: linear-gradient(to bottom right, #0202B0, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(3) .green {
      background: linear-gradient(to bottom right, #023202, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(3) .yellow {
      background: linear-gradient(to bottom right, #F5F502, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(3) .orange {
      background: linear-gradient(to bottom right, #EC9202, #fff);
      border-radius: 10px; }
    body #wrapper article:nth-of-type(3) .red {
      background: linear-gradient(to bottom right, #CD0202, #fff);
      border-radius: 10px; }
    body #wrapper .radial {
      border: 3px double #808080;
      margin: 10px; }
      body #wrapper .radial article .purple {
        background: radial-gradient(#310231, #fff);
        border-radius: 10px; }
      body #wrapper .radial article .blue {
        background: radial-gradient(#0202B0, #fff);
        border-radius: 10px; }
      body #wrapper .radial article .green {
        background: radial-gradient(#023202, #fff);
        border-radius: 10px; }
      body #wrapper .radial article .yellow {
        background: radial-gradient(#F5F502, #fff);
        border-radius: 10px; }
      body #wrapper .radial article .orange {
        background: radial-gradient(#EC9202, #fff);
        border-radius: 10px; }
      body #wrapper .radial article .red {
        background: radial-gradient(#CD0202, #fff);
        border-radius: 10px; }
    body #wrapper footer {
      border: 3px double #808080;
      margin: 10px;
      padding: 20px;
      text-align: center; }
      body #wrapper footer h3 {
        font-size: 1.2rem;
        text-decoration: underline;
        color: #808080;
        padding-bottom: 20px; }
      body #wrapper footer a {
        text-decoration: none;
        color: #808080;
        line-height: 120%; }
        body #wrapper footer a:visited {
          text-decoration: none;
          color: #808080; }

/*# sourceMappingURL=01-Gradient-City.css.map */